<div class="demo-root-wrapper h-100">
    <mat-toolbar color="primary" *ngIf="path$ | async">
        <a [routerLink]="['/']" matRipple class="d-flex align-items-center py-100" style="cursor: pointer">
            <img src="assets/image/electron-full.svg" alt="logo.svg" height="32"
                 style="filter: brightness(2.0) drop-shadow(0 0 2px #212121)">
        </a>
        <span class="flex-fill"></span>
        <button mat-icon-button matTooltip="{{'DEMO.TIP.TUNE' | transloco}}" [matMenuTriggerFor]="tune">
            <mat-icon>tune</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
<mat-menu class="demo-menu" #tune="matMenu">
    <span mat-menu-item class="d-flex align-items-center" (click)="$event.stopPropagation()">
        <mat-slide-toggle [checked]="theme" labelPosition="before" class="demo-slide-toggle w-100"
                          (change)="listenThemeChange($event)">
            <mat-icon>{{theme ? 'dark_mode' : 'light_mode'}}</mat-icon>
            <span>{{(theme ? 'DEMO.TUNE.MODE.DARK' : 'DEMO.TUNE.MODE.LIGHT') | transloco}}</span>
        </mat-slide-toggle>
    </span>
    <button mat-menu-item [matMenuTriggerFor]="palette">
        <mat-icon>palette</mat-icon>
        <span>{{'DEMO.TUNE.THEME' | transloco}}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="language">
        <mat-icon>translate</mat-icon>
        <span>{{'DEMO.TUNE.LOCALE' | transloco}}</span>
    </button>
</mat-menu>
<mat-menu class="demo-menu" #language="matMenu">
    <mat-radio-group color="primary" [value]="locale" (change)="listenLocaleChange($event)">
        <span mat-menu-item *ngFor="let toggle of localeToggles">
            <mat-radio-button [value]="toggle.code" class="w-100" (click)="$event.stopPropagation()">
                {{toggle.name | transloco}}
            </mat-radio-button>
        </span>
    </mat-radio-group>
</mat-menu>
<mat-menu class="demo-menu" #palette="matMenu">
    <mat-radio-group color="primary" [value]="color" (change)="listenColorChange($event)">
        <span mat-menu-item *ngFor="let toggle of paletteToggles">
            <mat-radio-button [value]="toggle.color" class="w-100" (click)="$event.stopPropagation()">
                <span class="w-100 mx-75">{{toggle.label | transloco}}</span>
                <mat-icon style="border-radius: 50%;margin: auto;min-width: 2rem;min-height: 2rem;"
                          [ngStyle]="{'background': toggle.style}"></mat-icon>
            </mat-radio-button>
        </span>
    </mat-radio-group>
</mat-menu>
<ng-template #splash>
    <div class="logo d-flex flex-fill justify-content-center align-items-center sx-100 w-100"
         style="border-radius: 0.25rem">
        <img src="assets/image/angular-less.svg" alt="angular-less" width="256" height="256" class="shadow">
        <mat-icon class="shadow" style="font-size: 8rem;width: auto;height: auto;">add</mat-icon>
        <img src="assets/image/electron-less.svg" alt="electron-less" width="256" height="256" class="shadow">
    </div>
    <mat-progress-bar color="primary" mode="determinate" [value]="progress$ | async" class="shadow my-200"
                      style="height: 0.75rem"></mat-progress-bar>
    <div class="d-flex justify-content-between align-items-center w-100">
        <div class="d-flex flex-fill flex-col-pos sy-25">
            <span class="mat-headline">{{tags.title | transloco}}</span>
            <span class="mat-body-1">{{tags.subtitle | transloco}}</span>
        </div>
        <img [@BRIGHT_MORE_LESS]="(bright$ | async) ? 'more' : 'less'" src="assets/image/electron-full.svg"
             alt="electron-full" height="64" class="shadow">
    </div>
</ng-template>
