<div class="demo-root-wrapper h-100">
    <mat-toolbar color="primary">
        <img src="assets/image/logo.svg" alt="logo.svg" height="48" style="filter: drop-shadow(0 0 2px #FAFAFA)">
        <span class="flex-fill"></span>
        <button mat-button [matMenuTriggerFor]="palette">
            <mat-icon>palette</mat-icon>
            <span class="ml-75">{{findToggle(toggle$ | async)}}</span>
        </button>
    </mat-toolbar>
    <mat-sidenav-container autosize style="height: calc(100% - 4rem);">
        <mat-sidenav mode="side" opened style="width: 15rem;z-index: 0;">
            <mat-nav-list>
                <a mat-list-item [routerLink]="link.link" routerLinkActive="bg-primary" *ngFor="let link of links">
                    <mat-icon matListIcon>{{link.icon}}</mat-icon>
                    <span matLine>{{link.text}}</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="p-100" style="box-sizing: border-box">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<mat-menu #palette="matMenu">
    <mat-radio-group color="primary" [value]="toggle$ | async">
        <button mat-menu-item class="d-flex justify-content-between align-items-center" style="width: 17.5rem"
                (click)="handleToggleThemeAction(toggle)" *ngFor="let toggle of toggles">
            <mat-radio-button [value]="toggle.value"></mat-radio-button>
            <span class="flex-fill mx-75">{{toggle.label}}</span>
            <mat-icon class="mx-0" style="border-radius: 50%;width: 2rem;height: 2rem;"
                      [ngStyle]="{'background': toggle.style,
                      'filter': toggle.theme === 'dark' ? 'brightness(0.75)' : 'brightness(1.25)'}"></mat-icon>
        </button>
    </mat-radio-group>
</mat-menu>
