<mat-sidenav-container autosize class="demo-outlet-view-wrapper">
    <mat-sidenav mode="side" opened style="width: 15rem;z-index: 0;">
        <mat-nav-list>
            <a mat-list-item [routerLink]="link.link" routerLinkActive="bg-primary" *ngFor="let link of links">
                <mat-icon matListIcon>{{link.icon}}</mat-icon>
                <span matLine>{{link.text | transloco}}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="overflow overflow-y overflow-primary p-100" style="box-sizing: border-box">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>



