<div class="demo-error-view-wrapper h-100 sy-100" style="color: #e0e0e0">
    <div class="d-flex align-items-center w-fit sx-200 mx-auto">
        <img src="assets/image/electron-less.svg" alt="electron-less.svg" width="256" height="256">
        <a href="/" mat-icon-button matTooltip="{{'DEMO.ERROR.LINK' | transloco}}" style="transform: scale(4)">
            <mat-icon>add</mat-icon>
        </a>
        <img src="assets/image/angular-less.svg" alt="angular-less.svg" width="256" height="256">
    </div>
    <div class="mat-display-4" style="font-weight: bold">{{'DEMO.ERROR.TITLE' | transloco}}</div>
    <div class="mat-display-2" style="font-weight: bold">{{'DEMO.ERROR.SUBTITLE' | transloco}}</div>
</div>
